Synthetic Data

In [1]:
import pandas as pd
import numpy as np

In [46]:
# Generate 1,00 samples from a normal distribution
heights = np.random.normal(loc=170, scale=10, size=100)
weights = np.random.normal(loc=70, scale=15, size=100)
#age= np.random.normal(loc=10, scale=15, size=100)
age = np.random.randint(low=20,high=50,size=100,dtype='int')

In [48]:
weights += (heights - 170) * 0.5
df = pd.DataFrame({'Height': heights, 'Weight': weights  ,'age':age})

In [49]:
# Add categorical data
genders = np.random.choice(['Male', 'Female'], size=100)
df['Gender'] = genders
df.head()

       Height     Weight  age  Gender
0  176.251959  78.203230   42    Male
1  178.688365  69.396413   48    Male
2  174.911767  76.374700    9    Male
3  177.061139  64.741269   39  Female
4  175.266081  86.552748   44    Male

In [50]:
df.describe()

           Height      Weight         age
count  100.000000  100.000000  100.000000
mean   169.753332   70.086417   25.100000
std      9.796551   12.330583   14.509836
min    145.269962   43.926739    1.000000
25%    162.866286   61.389004   11.750000
50%    169.697286   68.843341   27.500000
75%    175.960077   78.254798   37.250000
max    197.844942  101.804171   48.000000